#BgCOl1{background-color: #f3dc91;}
.sizeProfile{width: 400px;height: 500px;margin:20px 100px 20px 50px;border-radius: 80%;}
.sizeProfile2{width: 250px;height: 150px;}
.col12Pic{box-shadow:8px 5px gray;margin:20px 30px 0px 20px;background-color:red;border-left-width: 100px;padding-left: 30px;padding-top: 20px;padding-bottom: 10px;padding-right: 100px;
}
#imageSS {
    display: block;
    width: 600px;
    height: 300px;
  }
  
  #overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 108, 108);
    overflow: hidden;
    width: 600px;
    height: 0;
    transition: .5s ease;
  }
  #containers:hover #overlay {
    height: 300px;
  }
  #containers {
    position: relative;
    height: 60%;
    margin-top:20px;
    margin-left:20px;
  margin-bottom: 40px   ; }
  #about{background-color: rgb(238, 176, 176);margin-top: 50px;padding-bottom: 15px;padding-top: 15px;border-top: rgb(128, 78, 32) solid 10px;}
  .bGgray{background-color:gray;padding-bottom: 15px;}
  #info{box-shadow:8px 5px gray;margin:20px 30px 0px 20px;background-color:red;border-left-width: 100px;padding-left: 30px;padding-top: 20px;padding-bottom: 10px;}
  .cTop{
margin-top: 25px;margin-left: 10px;margin-right: 10px;
  }
  .sizeskill{height: 330px;width: 330px;margin-left: 100px;    padding-top: 15px;  }
  .fontcenter{text-align: center;font-size:24px;font-style: italic;font-weight: inherit;}
  .margincard{margin-bottom: 30px;  padding-bottom: 20px;}
  .bgHis{background-color:teal;margin-left: 0px;margin-right: 0px;}
  #font{margin-top: 130px;font-size: 35px;font-style: inherit;color: white;text-shadow: black 2px 1.5px;}
  .mt{margin-top: 20px;}